<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <application
        android:name=".bloc.RoomApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        tools:replace="android:allowBackup"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MiPortfolio"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        tools:targetApi="31">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    <activity android:name=".MainActivityReal"

        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>

        <activity android:name=".AboutMeActivity"
            android:exported="true">

        </activity>
        <activity android:name=".whatsapp.WhatsappActivity"
            android:exported="true">

        </activity>
        <activity android:name=".bloc.MainActivity"
            android:theme="@style/Theme.Room"
            android:exported="true">

        </activity>
        <activity android:name=".bloc.SplashActivity"

            android:exported="true">

        </activity>
        <activity
            android:name=".bloc.EditNoteActivity"
            android:theme="@style/Theme.Room"
            android:exported="false" />
        <activity
            android:name=".bloc.CheckNoteActivity"
            android:theme="@style/Theme.Room"
            android:exported="false" />
        <activity
            android:name=".bloc.TagActivity"
            android:theme="@style/Theme.Room"
            android:exported="false" />
        <activity android:name=".whatsapp.WhatsappBrunoActivity"
            android:exported="true">

        </activity>

        <activity android:name=".CVActivity"
            android:exported="true">

        </activity>
        <activity android:name=".CoverLetterActivity"
            android:exported="true">

        </activity>
        <activity android:name=".settings.SettingsActivity"
            android:exported="true">

        </activity>
        <activity android:name=".settings.SettingsFondoActivity"
            android:exported="true">

        </activity>
        <activity android:name=".settings.SettingsIdiomaActivity"
            android:exported="true">

        </activity>
        <activity android:name=".settings.SettingsModoActivity"
            android:exported="true">

        </activity>
        <activity android:name=".settings.SettingsPinActivity"
            android:exported="true">

        </activity>
        <activity android:name=".files.FilesActivity"
            android:exported="true">

        </activity>

        <activity android:name=".files.FilesPulsadoActivity"
            android:exported="true">

        </activity>
        <activity android:name=".linkedin.LinkedinActivity"
            android:exported="true">

        </activity>
        <activity android:name=".linkedin.LinkedingPulsadoActivity"
            android:exported="true">

        </activity>
        <activity android:name=".linkedin.LinkedinBrunoActivity"
            android:exported="true">

        </activity>
    </application>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>